{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <p>
                <button type="submit" value="Delete" class="btn btn-warning">
                    Are you sure you want to delete {{ object.get_department_display }}?
                </button>
            </p>
            <a href="{% url 'accounts:get_groups' %}"
           class="btn btn-sm btn-success border-white ">Go back to groups</a>
        </form>
    </div>
{% endblock %}