{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <p>
                <h3>{{ object.first_name }} {{ object.last_name }}</h3>
                <h5>Age: {{ object.age }} year(s)</h5>
                <h5>{{ object.group }} </h5>
                <h5>Grade: {{ object.grade }} </h5>
                <button type="submit" value="Delete" class="btn btn-warning">
                    Are you sure you that {{ object.first_name }} {{ object.last_name }} is not good enough for us?
                </button>
            </p>
        </form>
    </div>
{% endblock %}