{% extends "index.html" %}
{% include static %}
{#    {% if user.is_authenticated %}#}
{% block content %}
    {% if user.is_staff %}
    <a href="{% url 'admin:accounts_customuser_add' %}"
       class="btn btn-sm btn-success border-white ">Create new teacher's profile</a><br><br>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Age</th>
            <th scope="col">Experience</th>
            <th scope="col">Groups</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                 {% if teacher.profile.photo %}

                     {% if not teacher.social_auth.exists %}
                    <th scope="row"><a type="button" href="{% url "profile" teacher.username %}">
                        <img src="{{ teacher.profile.photo.url }}"  alt="Image" width="50" height="50" class="rounded-circle" /></a>
                    </th>
                         {% elif student.social_auth.exists %}
                         <th scope="row"><a type="button" href="{% url "profile" teacher.username %}">
                        <img src="{{ teacher.profile.photo }}"  alt="Image" width="50" height="50" class="rounded-circle" /></a>
                    </th>
                         {% endif %}

                {% else %}<td>N/A</td>{% endif %}
                <td>{{ teacher.profile.first_name }}</td>
                <td>{{ teacher.profile.last_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.birthday }}</td>
                {% if teacher.profile.birthdate %}
                    <td>{{ teacher.profile.age }}</td>
                {% else %}
                    <td>Undefined age</td>
                {% endif %}
               <td>{{ teacher.experience }}</td>
                <th scope="col"><a type="button" class="btn btn-success"
                href="{% url 'admin:accounts_customuser_change' teacher.id  %}">Show groups</a></th>
                <th scope="col"><a type="button" class="btn btn-warning"
                href="{% url 'admin:accounts_customuser_change' teacher.id  %}"> Edit</a></th>
                <th scope="col"><a type="button" class="btn btn-danger"
                href="{% url 'accounts:delete_teacher' teacher.id  %}">Delete</a></th>
            </tr>

        {% endfor %}
                {% else %}
         <p class="lead">Access denied!</p>
                <p class="lead">Pls, Login to view current page!</p>
                <p class="lead">
                <a href="{% url "login" %}"
                   class="btn btn-lg btn-warning fw-normal border-white bg-white">Login</a>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
