/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}



/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 110em;
}

.create-form {
    margin: auto;
    width: 20em;
    align-content: center;
    padding: .25rem 0;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

* {
    margin: 0;
    padding: 0
}

body {
    background-color: #000
}

.card {
    width: 50%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.66);
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5%;

}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)

}

.btn-custom {
    height: 140px;
    width: 140px;
    border-radius: 65px;
    opacity: 90%;

}

.name {
    font-size: 28px;
    font-weight: bold;
    color: #000000;
}

.idd {
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.idd1 {
    font-size: 14px;
    color: rgb(40, 44, 52);
}

.number {
    font-size: 22px;
    font-weight: normal;
    color: #00b42c;
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 12px;
    background-color: #000;
    color: #aeaeae;
    font-size: 17px;
    font-weight: bold;
    opacity: 75%;
}

.text span {
    font-size: 14px;
    color: #313131;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold
}

.date {
    background-color: rgba(0, 0, 0, 0.56)
}
